{% extends "layout.html" %}

{% block title %}
    Articles
{% endblock title %}

{% block main %}
    <h1>Articles</h1>
    <br>

    <form>
        {% csrf_token %}
        <input name="keyword" type="text" placeholder="Search">
        <button type="submit" class="btn">Search</button>
    </form>

    {% if articles %}
        <ul>
            {% for article in articles %}
                <li>
                    <h3><a href="{% url 'article:detail' article.id %}">{{ article.title }}</a></h3>
                    <p>{{article.author}} | {{ article.created_date }}</p>
                    <br>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>No articles</h3>
    {% endif %}

{% endblock main %}
