{% extends "layout.html" %}

{% block title %}
    Login
{% endblock title %}

{% block main %}
    <h1>Login</h1>

    <form method="post">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="{{form.username.id_for_label}}">İstifadəçi adı</label>
            {{form.username}}
        </div>
        <div class="form-group">
            <label for="{{form.password.id_for_label}}">Şifrə</label>
            {{form.password}}
        </div>

        <button class="btn">Daxil ol</button>
    </form>
{% endblock main %}
